<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>创建项目 | i-project</title>
    <meta name="description" content="" />
    <meta name="author" content="木小乐" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <style type="text/css">
      #create-project {
        padding: 10px;
      }
      #create-project .pro-list .title {
        width: 130px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="pro-layout-bodyer">
      <div class="pro-layout-container" id="project-list">
        <div class="pro-widget-base">
          <div class="pro-widget-header clearfix">
            <div class="pro-left">
              <h1 class="title">创建项目 : 第一步，选择项目开发基于的框架</h1>
            </div>
            <div class="pro-right">
            </div>
          </div>
          <div class="pro-widget-bodyer">
            <div id="create-project">
              <div class="pro-list clearfix">
                <label class="title">JavaScript框架为：</label>
                <select id="project-style-list">
                  <option>loading...</option>
                </select>
              </div>
              <div class="pro-list clearfix">
                <label class="title">CSS框架为：</label>默认
              </div>
              <a class="btn btn-primary" action-type="save_project" href="javascript:;">下一步</a>
            </div>
          </div>
          <div class="pro-widget-footer"></div>
        </div>
      </div>
    </div>
    <div class="pro-layout-footer">&copy; Copyright By <a href="https://github.com/stri/i-project" target="_blank">i-project</a></div>
    <script src="js/jQuery-min.js"></script>
    <script type="text/javascript">
      (function($){
        // 获取数据
        $.ajax({
          url: '/~/api/getPackParamList',
          dataType: 'json'
        }).done(function(data){
          var list = ['none'];
          list = list.concat(Object.keys(data.data));
          $('#project-style-list').html('');
          $.each(list,function(key,value){
            $('#project-style-list').append('<option>'+value+'</option>');
          });
        });

        // 事件
        $('#create-project').delegate('[action-type="save_project"]','click',function(evt){
          location.href="/~/create/"+$('#project-style-list').val();
          evt.preventDefault();
        });
      })(jQuery);
    </script>
  </body>
</html>
